<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>

    <body>
        <div id="app">
            firstName:<input type="text" v-model='firstName'>
            lastName:<input type="text" v-model='lastName'>
            <p>fullName: {{fullName}}</p>
        </div>
        <script>
            new Vue({
                el: '#app',
                data: {
                    firstName: 'Foo',
                    lastName: 'Bar',
                },
                computed: {
                    fullName: {
                        set: function () {

                        },
                        get: function () {
                            return this.lastName + ' ' + this.firstName;
                        }
                    }
                },

            }
            );            
        </script>
    </body>
</body>

</html>